<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <h1>😋 Ohgiraffers Pet Shop 😋</h1>

    <button onclick="location.href='/pet/3'">특정 펫 목록 보기</button>
    <button onclick="location.href='/pet/list'">펫 전체 목록 보기</button>

    <button onclick="location.href='/pet/querymethod'">펫 메소드 테스트</button>

    <button onclick="location.href='/pet/regist'">펫 등록하기</button>
    <button onclick="location.href='/pet/modify'">펫 수정하기</button>
    <button onclick="location.href='/pet/delete'">펫 삭제하기</button>

</body>
</html>